parameters:
	ignoreErrors:
		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: src/Http/AsanaApiClient.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Api/AccessRequestsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 5
			path: tests/Api/AllocationsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 8
			path: tests/Api/AttachmentApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Api/AuditLogApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 6
			path: tests/Api/BatchApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 5
			path: tests/Api/BudgetsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 17
			path: tests/Api/CustomFieldApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Api/CustomFieldSettingsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Api/CustomTypesApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 14
			path: tests/Api/EventsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Api/ExportsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 5
			path: tests/Api/GoalRelationshipsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 34
			path: tests/Api/GoalsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Api/JobsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 10
			path: tests/Api/MembershipApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Api/OrganizationExportsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Api/PortfolioMembershipsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 29
			path: tests/Api/PortfoliosApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 23
			path: tests/Api/ProjectApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Api/ProjectBriefsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 5
			path: tests/Api/ProjectMembershipsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Api/ProjectStatusesApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 17
			path: tests/Api/ProjectTemplatesApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 5
			path: tests/Api/RatesApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Api/ReactionsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Api/RulesApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 12
			path: tests/Api/SectionApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 13
			path: tests/Api/StatusUpdatesApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 5
			path: tests/Api/StoriesApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 13
			path: tests/Api/TagsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 27
			path: tests/Api/TaskApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Api/TaskTemplatesApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 5
			path: tests/Api/TeamMembershipsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 20
			path: tests/Api/TeamsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Api/TimePeriodsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 18
			path: tests/Api/TimeTrackingEntriesApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Api/TypeaheadApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 12
			path: tests/Api/UserApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 8
			path: tests/Api/UserTaskListsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 14
			path: tests/Api/WebhooksApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 15
			path: tests/Api/WorkspaceApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Api/WorkspaceMembershipsApiServiceTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 10
			path: tests/Auth/AsanaOAuthHandlerTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Auth/TokenManagerTest.php

		-
			message: '#^Parameter \#1 \$invocationRule of method PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\) expects PHPUnit\\Framework\\MockObject\\Rule\\InvocationOrder, PHPUnit\\Framework\\MockObject\\Rule\\InvokedCount given\.$#'
			identifier: argument.type
			count: 21
			path: tests/Http/AsanaApiClientTest.php
